body{
    font-family: poppins;
}

.search {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 10px;
    width: 60%;
}

#chartContainer {
    margin: auto;
    width: 90;
}

#desc {
    margin-top: 450px;
}

#error {
    margin-top: 0px;
    text-align: center;
    font-size: 100px;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

